---
apiVersion: v1
kind: Namespace
metadata:
  name: home-assistant
---
apiVersion: v1
kind: Service
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  clusterIP: None
  selector:
    app: home-assistant
  ports:
    - name: http
      port: 8123
      targetPort: 8123
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  serviceName: home-assistant
  replicas: 1
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      securityContext:
        fsGroup: 0
      containers:
        - name: home-assistant
          image: {{ home_assistant_image }}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8123
          env:
            - name: TZ
              value: {{ timezone }}
          volumeMounts:
            - name: config
              mountPath: /config
            - name: zigbee
              mountPath: /dev/ttyUSB0
          securityContext:
            privileged: true
      volumes:
        - name: zigbee
          hostPath:
            path: /dev/ttyUSB0
            type: CharDevice
  volumeClaimTemplates:
    - metadata:
        name: config
      spec:
        accessModes: ["ReadWriteMany"]
        resources:
          requests:
            storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: home-assistant-lb
  namespace: home-assistant
spec:
  type: ClusterIP
  selector:
    app: home-assistant
  ports:
    - name: http
      port: 8123
      targetPort: 8123
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: home-assistant
  namespace: home-assistant
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: "150m"
spec:
  rules:
    - host: {{ ingress_fqdn }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: home-assistant-lb
                port:
                  number: 8123
