---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: code-server-sa
  namespace: home-assistant
automountServiceAccountToken: false
---
apiVersion: v1
kind: Service
metadata:
  name: code-server
  namespace: home-assistant
spec:
  clusterIP: None
  selector:
    app: code-server
  ports:
    - name: http
      port: 8080
      targetPort: 8080

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: code-server
  namespace: home-assistant
spec:
  serviceName: code-server
  replicas: 1
  selector:
    matchLabels:
      app: code-server

  template:
    metadata:
      labels:
        app: code-server
    spec:
      serviceAccountName: code-server-sa
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      volumes:
        - name: config-volume
          persistentVolumeClaim:
            claimName: config-home-assistant-0
        - name: tmp-volume
          emptyDir: {}

      containers:
        - name: code-server
          image: codercom/code-server:latest
          ports:
            - name: http
              containerPort: 8080
              hostPort: 8080
          env:
            - name: DOCKER_USER
              value: "coder"
            - name: PASSWORD
              value: "{{ vscode_password }}"
          volumeMounts:
            - name: config-volume
              mountPath: /home/coder/project
            - name: vscode-server-volume
              mountPath: /home/coder/.config
            - name: tmp-volume
              mountPath: /tmp
          securityContext:
            runAsUser: 1000
            runAsGroup: 0
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

  volumeClaimTemplates:
    - metadata:
        name: vscode-server-volume
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
